.form {
    display: grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    padding: 8px;
    font-family: "Sofia";
    border: 1px solid;
    border-color: #ffdead;
    background-color: #ffe4c4;
    border-radius: 20px;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    line-height: 2.6rem;
    border-radius: 28px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    font-family: "Sofia";
}

.button {
    background-color: rgba(0, 0, 0, 75);
    color: white;
    padding: 1rem 2 rem;
    border: 1px solid rgba(0, 0, 0, 75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
    font-family: "Sofia";
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width: 786px) {
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }
    .input {
        margin-bottom: center;
    }
}
